src/*.js
!src/rest/app/component/main.js
!src/rest/public/bundle.js
src/*.map
src/**/*.js
src/**/*.map
test/*.js
test/*.map
npm-debug.log
mochawesome-reports/
node_modules/
.idea/
.yarnclean
coverage/